

<form
  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
           aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
<br>
<br>
<table style="width:100%">
  <tr>
    <th>Deal Size</th>
    <th>Deal Category</th>
    <th>Deal Employee</th>
    <th>Data Location</th>
    <th>Pipeline</th>
    <th>Stage</th>
    <th>LastUpdate</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items; let i = index">
    <td>{{item.size}}</td>
    <td>{{item.category}}</td>
    <td>{{item.Employee}}</td>
    <td>{{item.location}}</td>
    <td>{{item.pipeline}}</td>
    <td>{{item.stage}}</td>
    <td>{{item.lastupdate}}</td>
    <td>
      <button class="doc" (click)="add(i)">A</button>
      <button class="edit" (click)="edit(i)">E</button>
      <button class="delete" (click)="remove(i)">D</button>
    </td>
    <td>94</td>
  </tr>
</table> 
