Dataview
<table style="width:100%">
  <tr>
    <th>Deal Size</th>
    <th>Deal Category</th>
    <th>Deal Employee</th>
    <th>Data Location</th>
    <th>Pipeline</th>
    <th>Stage</th>
    <th>LastUpdate</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items; let i = index">
    <td>{{item.size}}</td>
    <td>{{item.category}}</td>
    <td>{{item.Employee}}</td>
    <td>{{item.location}}</td>
    <td>{{item.pipeline}}</td>
    <td>{{item.stage}}</td>
    <td>{{item.lastupdate}}</td>
    <td>
      <button class="doc" (click)="add()"></button>
      <button class="edit"></button>
      <button class="delete"></button>
    </td>
    <td>94</td>
  </tr>
</table> 
